{% extends "index.html" %}

{% block content %}
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>Categories</h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Simple</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <div  class="row">
       <div class="col-md-12">

          <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab">Expense</a></li>
              <li><a href="#tab_2" data-toggle="tab">Income</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="tab_1">
              </div>
              <!-- /.tab-pane -->
              <div class="tab-pane" id="tab_2"></div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
  </section>
  <!-- /.content -->
{% endblock %}