<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>AdminLTE 2 | Dashboard</title>
      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      {% include "layouts/head.html" %}
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
      <div class="wrapper">
        {% include 'layouts/preloader.html' %}
        {% include 'layouts/navbar.html' %}
        {% include 'layouts/sidebar.html' %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
          {% block content %} {% endblock %}
        </div>
        <!-- /.content-wrapper -->

        {% include 'layouts/footer.html' %}
      </div>
      <!-- ./wrapper -->
      {% include "layouts/footer_scripts.html" %}
    </body>
</html>
