{% extends "layouts/index.html" %}
{% load static from static %}

{% block content %}

  {% include "layouts/content_header.html" with header_title=header_title %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-3">
          <div class="card card-outline card-warning">
            <div class="card-header">
              <h3 class="card-title">Filter Personal Wallet Records</h3>
              <div class="card-tools">
                <a class="text-warning"
                    href="
                    {% if active_year and active_month %}
                    {% url 'statistics:year-month' year=active_year month=active_month %}
                    {% elif active_year %}
                    {% url 'statistics:year' year=active_year %}
                    {% elif active_month %}
                    {% url 'statistics:month' month=active_month %}
                    {% else %}
                    {% url 'statistics:view' %}
                    {% endif %}"><i class="fas fa-broom"></i> Reset</a>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                {% for wallet in personal_wallets %}
                <li class="nav-item {% if active_personal_wallet and active_personal_wallet == wallet.id %}bg-warning{% endif %}">
                  <a href="
                  {% if active_year and active_month %}
                  {% url 'statistics:personal-wallet-year-month' personal_wallet_id=wallet.id year=active_year month=active_month %}
                  {% elif active_year %}
                  {% url 'statistics:personal-wallet-year' personal_wallet_id=wallet.id year=active_year %}
                  {% elif active_month %}
                  {% url 'statistics:personal-wallet-month' personal_wallet_id=wallet.id month=active_month %}
                  {% else %}
                  {% url 'statistics:personal-wallet' personal_wallet_id=wallet.id %}
                  {% endif %}" class="nav-link">
                    <i class="fas fa-coins text-warning"></i> {{ wallet.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-3">
          <div class="card card-outline card-success">
            <div class="card-header">
              <h3 class="card-title">Include Group Wallet Records</h3>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                {% for wallet in group_wallets %}
                <li class="nav-item">
                  <a href="#" class="nav-link">
                    <i class="fas fa-wallet text-success"></i> {{ wallet.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title">Dates</h3>
              <div class="card-tools">
                <a class="text-info"
                    href="
                    {% if active_personal_wallet %}
                    {% url 'statistics:personal-wallet' personal_wallet_id=active_personal_wallet %}
                    {% else %}
                    {% url 'statistics:view' %}
                    {% endif %}"><i class="fas fa-broom"></i> Reset</a>
              </div>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="year">Year:</label>
                {% for year in years %}
                <a type="button" class="btn {% if active_year and active_year == year %}btn-info disabled{% else %}btn-default{% endif %}"
                   href="
                  {% if active_personal_wallet and active_month %}
                  {% url 'statistics:personal-wallet-year-month' personal_wallet_id=active_personal_wallet year=year month=active_month %}
                  {% elif active_personal_wallet %}
                  {% url 'statistics:personal-wallet-year' personal_wallet_id=active_personal_wallet year=year %}
                  {% elif active_month %}
                  {% url 'statistics:year-month' year=year month=active_month %}
                  {% else %}
                  {% url 'statistics:year' year=year %}
                  {% endif %}"
                   id="year">{{ year }}</a>
                {% endfor %}
              </div>
              <div class="form-group">
                <label>Month:</label>
                {% for number, name in months.items %}
                <a type="button" class="btn {% if active_month and active_month == number %}btn-info disabled{% else %}btn-default{% endif %}"
                   href="
                  {% if active_personal_wallet and active_year %}
                  {% url 'statistics:personal-wallet-year-month' personal_wallet_id=active_personal_wallet year=active_year month=number %}
                  {% elif active_personal_wallet %}
                  {% url 'statistics:personal-wallet-month' personal_wallet_id=active_personal_wallet month=number %}
                  {% elif active_year %}
                  {% url 'statistics:year-month' year=active_year month=number %}
                  {% else %}
                  {% url 'statistics:month' month=number %}
                  {% endif %}"
                   id="month">{{ name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
       </div>
      </div>
      <div class="row">
        {% if expenses_by_category|length == 0 %}
        <div class="col-md-12">
          <div class="callout callout-danger">
            <h5>No expenses data available</h5>
            <p>Add records to your wallets or search with different criteria to view them here.</p>
          </div>
        </div>
        {% else %}
        <div class="col-md-4">
          <!-- DOUGHNUT CHART EXPENSES -->
          <div class="card card-danger">
            <div class="card-header">
              <h3 class="card-title">Expenses</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="doughnutChartExpenses" data-datasets="{{ expenses_datasets }}"></canvas>
              </div>
            </div>
          </div>
          </div>
        <div class="col-md-8">
          <div class="card card-danger card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="expenses-list-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="expenses-by-category-tab" data-toggle="pill"
                     href="#expenses-by-category" role="tab" aria-controls="expenses-by-category"
                     aria-selected="true">By Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="expenses-by-date-tab" data-toggle="pill"
                     href="#expenses-by-date" role="tab" aria-controls="expenses-by-date"
                     aria-selected="true">By Date</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="expenses-list-tabContent">
                <div class="tab-pane fade show active" id="expenses-by-category" role="tabpanel" aria-labelledby="expenses-by-category-tab">
                  {% include "statistics/records_by_category_table.html" with records_by_category=expenses_by_category %}
                </div>
                <div class="tab-pane fade" id="expenses-by-date" role="tabpanel" aria-labelledby="expenses-by-date-tab">
                  by date
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% if incomes_by_category|length == 0 %}
          <div class="col-md-12">
            <div class="callout callout-success">
              <h5>No incomes data available</h5>
              <p>Add records to your wallets or search with different criteria to view them here.</p>
            </div>
          </div>
        {% else %}
        <div class="col-md-4">
          <!-- DOUGHNUT CHART INCOMES -->
          <div class="card card-success">
            <div class="card-header">
              <h3 class="card-title">Incomes</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                  <i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="chart">
                <canvas id="doughnutChartIncomes" data-datasets="{{ incomes_datasets }}"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card card-success card-tabs">
            <div class="card-header p-0 pt-1 border-bottom-0">
              <ul class="nav nav-tabs" id="incomes-list-tab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="incomes-by-category-tab" data-toggle="pill"
                     href="#incomes-by-category" role="tab" aria-controls="incomes-by-category"
                     aria-selected="true">By Category</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="incomes-by-date-tab" data-toggle="pill"
                     href="#incomes-by-date" role="tab" aria-controls="incomes-by-date"
                     aria-selected="true">By Date</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="incomes-list-tabContent">
                <div class="tab-pane fade show active" id="incomes-by-category" role="tabpanel" aria-labelledby="incomes-by-category-tab">
                  {% include "statistics/records_by_category_table.html" with records_by_category=incomes_by_category %}
                </div>
                <div class="tab-pane fade" id="incomes-by-date" role="tabpanel" aria-labelledby="incomes-by-date-tab">
                  by date
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- /.content -->
{% endblock %}

{% block javascript %}
<script src="{% static 'dist/js/statistics.js' %}"></script>
{% endblock %}
