{% extends "layouts/index.html" %}

{% block content %}

  {% include "layouts/content_header.html" with header_title=header_title %}

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          {% if datasets_exist is False %}
            <div class="callout callout-info">
              <h5>No balance data available</h5>
              <p>Add records to your wallet to view some charts!</p>
            </div>
          {% else %}
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">{{ header_title }}</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <div class="chart">
                <canvas id="barChart" data-datasets="{{ datasets }}"></canvas>
              </div>
            </div>
            <!-- /.card-body -->
          </div>
          {% endif %}
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <!-- /.content -->
{% endblock %}

{% block javascript %}

<script type="text/javascript">
    //-------------
    //- BALANCE HORIZONTAL BAR CHART -
    //-------------

    var barChartCanvas = $('#barChart')
    var barChartDataset = JSON.parse(barChartCanvas.attr("data-datasets"))

    var barChartOptions = {
        legend: {
            display: false,
        },
        responsive: true,
        maintainAspectRatio: false,
        datasetFill: false,
    }
    var barChartConfig = {
      type: 'horizontalBar',
      data: barChartDataset,
      options: barChartOptions
    };

    var chart = new Chart(barChartCanvas, barChartConfig)
</script>

{% endblock %}
