{% extends "index.html" %}

{% block content %}

    {% include "finances/content_header.html" with header_title=header_title %}

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- left column -->
          <div class="col-md-6">
            <!-- general form elements -->
            <div class="card card-success">
              <div class="card-header">
                <h3 class="card-title">Add Expense</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form method="post">
                {% csrf_token %}
                <div class="card-body">
                  <div class="form-group">
                    <label for="{{ form.title.id_for_label }}">Title</label>
                    <input type="text" class="form-control" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" placeholder="Title">
                  </div>
                  <div class="form-group">
                    <label for="{{ form.amount.id_for_label }}">Price</label>
                    <input type="text" class="form-control" id="{{ form.amount.id_for_label }}" name="{{ form.amount.name }}" placeholder="Price">
                  </div>
                  <div class="form-group">
                    <label for="category_select">Category</label>
                    <select class="custom-select form-control" id="category_select">
                      <option>---------</option>
                      {% for category in categories %}
                      <option value="{{ category.id }}">{{ category }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="id_sub_category">Sub Category</label>
                    <select class="custom-select form-control" id="id_sub_category" name="{{ form.sub_category.name }}">
                      <option value="first">---------</option>
                      {% for sub in form.sub_category.field.queryset %}
                      <option value="{{ sub.id }}" parent_id="{{ sub.parent.id }}" style="display: none">{{ sub }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="id_paid_by">Paid By</label>
                    <select class="custom-select form-control" id="id_paid_by" name="{{ form.paid_by.name }}">
                      <option value="first">---------</option>
                      {% for user in form.paid_by.field.queryset  %}
                      <option value="{{ user.id }}">{{ user.name_display }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="id_paid_for_users">Paid For</label>
                    <select multiple="" class="form-control" id="id_paid_for_users" name="{{ form.paid_for_users.name }}">
                      {% for user_id, user in form.paid_for_users.field.choices  %}
                      <option value="{{ user_id }}">{{ user.name_display }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
            <!-- /.card -->

          </div>
          <!--/.col (left) -->

          </div>
          <!--/.col (right) -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->

{% endblock %}