{% with url_name=request.resolver_match.url_name %}

<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="header">MAIN NAVIGATION</li>
    <li class="active treeview">
      <a href="#">
        <i class="fa fa-dashboard"></i> <span>Finances</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li class="{% if url_name == 'index' %}active{% endif %}"><a href="{% url 'index' %}"><i class="fa fa-circle-o"></i>Dashboard</a></li>
        <li class="{% if url_name == 'transactions' %}active{% endif %}"><a href="{% url 'transactions' %}"><i class="fa fa-circle-o"></i>Transactions</a></li>
        <li class="{% if url_name == 'trends' %}active{% endif %}"><a href="{% url 'trends' %}"><i class="fa fa-circle-o"></i>Trends</a></li>
      </ul>
    </li>
  </ul>
</section>
<!-- /.sidebar -->

{% endwith %}